<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap uap3 rescap mp">

  <Identity
    Name="FancyText.FancyTextForCommandPalette"
    Publisher="CN=FancyText"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>花式文字 for Command Palette</DisplayName>
    <PublisherDisplayName>FancyText</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="花式文字"
        Description="把剪贴板或输入的文字快速转换为菊花体、魔鬼文字、花藤体、花体、火星文等 80+ 种花式样式，回车即复制。"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        AppListEntry="none" />
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="FancyText.CmdPal.exe" Arguments="-RegisterProcessAsComServer" DisplayName="花式文字">
              <com:Class Id="1412aa48-2c1f-47f5-8c0a-281b9e2f65e0" DisplayName="花式文字" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.commandpalette"
            Id="FancyText"
            PublicFolder="Public"
            DisplayName="花式文字"
            Description="花式文字转换（菊花体 / 魔鬼文字 / 花体 / 火星文 等 80+ 样式）">
            <uap3:Properties>
              <CmdPalProvider>
                <Activation>
                  <CreateInstance ClassId="1412aa48-2c1f-47f5-8c0a-281b9e2f65e0" />
                </Activation>
                <SupportedInterfaces>
                  <Commands />
                </SupportedInterfaces>
              </CmdPalProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
